# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
.vscode/
modules.order
Module.symvers
Mkfile.old
dkms.conf


# Ignorar o cache de compilação do Python
__pycache__/
*.py[cod]

# Ignorar ambientes virtuais
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Ignorar arquivos temporários do sistema
*.swp
.DS_Store
Thumbs.db
